.movie-card {
  cursor: pointer;
  transition: all 0.28s;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  width: 14rem;
  min-height: 10rem;
}

.movie-card:hover {
  transform: scale(1.03);
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
}

.card-title {
  position: relative;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-year {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.4rem;
}
