body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1em;
  background: hsl(240, 12%, 43%);
}

.row-width {
  width: 90vw;
  margin: auto;
}

@media (min-width: 900px) {
  .row-width {
    width: 65vw;
  }
}

@media (min-width: 1200px) {
  .row-width {
    width: 50vw;
  }
}
