.row-width {
  width: 90vw;
  margin: auto;
}

.specs {
  font-size: 1.6rem;
  font-weight: 200;
  color: var(--white);
}

@media (min-width: 666px) {
  .row-width {
    width: 72vw;
  }
}

@media (min-width: 992px) {
  .row-width {
    width: 66vw;
  }
}

@media (min-width: 1200px) {
  .row-width {
    width: 60vw;
  }
}

@media (min-width: 1600px) {
  .row-width {
    width: 54vw;
  }
}
