.view-background {
  background: linear-gradient(
    90deg,
    rgb(170, 170, 170) 0%,
    rgb(220, 220, 220) 15%,
    rgb(220, 220, 220) 85%,
    rgb(170, 170, 170) 100%
  );
}

.poster {
  object-fit: cover;
  object-position: 50% 50%;
}

.title {
  font-weight: 900;
  font-size: 3rem;
  line-height: 3rem;
}

.specs {
  font-size: 1.6rem;
  color: white;
}

.year {
  font-weight: 300;
  font-size: 2rem;
}
