.view-background {
  background: linear-gradient(
    90deg,
    rgb(170, 170, 170) 0%,
    rgb(220, 220, 220) 15%,
    rgb(220, 220, 220) 85%,
    rgb(170, 170, 170) 100%
  );
  min-height: 100vh;
}

.poster {
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
}

.title {
  font-weight: 700;
  font-size: 2.6rem;
  line-height: 3rem;
}

.specs {
  font-size: 1.5rem;
  color: white;
  font-weight: 500;
  padding-right: 10px;
}
