.logo {
  min-width: 220px;
  min-height: 34px;
  max-width: 270px;
  fill: var(--warning);
  margin-left: -40px;
}

.stripes {
  background-image: repeating-linear-gradient(
    135deg,
    #222,
    #222 70px,
    #555 70px,
    #555 140px
  );
}

.nav-link {
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.7) !important;
  font-weight: 300;
  padding-right: 10px;
}

.nav-link:hover {
  color: rgba(255, 255, 255, 0.9) !important;
  text-decoration: underline !important;
}
