body {
  font-family: 'Barlow', sans-serif !important;
  font-size: 1.2rem !important;
  background: linear-gradient(
    90deg,
    rgb(170, 170, 170) 0%,
    rgb(220, 220, 220) 15%,
    rgb(220, 220, 220) 85%,
    rgb(170, 170, 170) 100%
  );
  min-height: 100vh;
}

.my-flix {
  font-size: 2em;
}

.movie-view {
  margin: 1em;
  padding: 1em;
  background-color: white;
  width: 350px;
  border-radius: 3px;
}

.fw-light {
  font-weight: 300;
}

.fw-bold {
  font-weight: 700;
}

.subtitle {
  font-size: 1.6rem;
  font-weight: 200;
}

.validation-message {
  color: red;
  font-weight: 500;
  padding-left: 5px;
  font-style: italic;
}

.validation-message::before {
  content: '↪ ';
}

.view-background {
  background: linear-gradient(
    90deg,
    rgb(170, 170, 170) 0%,
    rgb(220, 220, 220) 15%,
    rgb(220, 220, 220) 85%,
    rgb(170, 170, 170) 100%
  );
  min-height: 100vh;
}
