$color: steelblue;

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1em;
  background-color: #e5e5e5;
}

.my-flix {
  color: $color;
  font-size: 2em;
}
.movie-card {
  padding: 0.19em;
  cursor: pointer;
}
.movie-card:hover {
  background-color: lightblue;
}
.movie-view {
  margin: 1em;
  padding: 1em;
  background-color: white;
  width: 350px;
}
.label {
  font-weight: 900;
  font-variant-caps: small-caps;
  text-decoration: underline;
  margin-top: 2em;
}
