body {
  font-family: 'Barlow', sans-serif !important;
  font-size: 1em;
  background: rgb(220, 220, 220) !important;
}

.my-flix {
  font-size: 2em;
}

.movie-view {
  margin: 1em;
  padding: 1em;
  background-color: white;
  width: 350px;
  box-shadow: 4px 4px 7px hsla(0, 0, 0, 0.5);
  border-radius: 3px;
}

.fw-light {
  font-weight: 300;
}

.fw-bold {
  font-weight: 700;
}

.validation-message {
  color: red;
  font-weight: 500;
  padding-left: 5px;
  font-style: italic;
}

.validation-message::before {
  content: '↪ ';
}
